@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap");

:root {
  --background-color: #f8f9fa;
  --color: #0a0908;
  --buttons-color: #1e1e1e;
  --line-through-color: gray;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background-color);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: calc(var(--border-radius) * 1.5);
  border: 1px solid #ccc;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.inputText {
  flex: 1;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.addTaskButton {
  background-color: var(--buttons-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: 300ms;
}

.addTaskButton:hover {
  background-color: #00000091;
}

.setAllTasksToTrueButton {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 12px;
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 300ms;
}

.setAllTasksToTrueButton:hover {
  background-color: #0000000e;
}

.taskListWrapper {
  width: 100%;
}

#taskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.task {
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.taskEdit {
  border: none;
  outline: none;
  font-size: 1rem;
}

.completed {
  text-decoration: line-through;
  color: var(--line-through-color);
}

.tick {
  width: 1.15rem;
  height: 1.15rem;
  cursor: pointer;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.message {
  color: red;
  text-align: center;
  font-weight: 500;
}
