h1 {
  font-size: 20px;
  text-align: center;
  color:#f440b5;
  margin-top: 20px;
  display: none;

}

h2 {
  font-size: 50px;
  text-align: center;
  color:#f440b5;
  margin-top: 200px;
  display: block;
}

#mensaje {
  color: #f440b5;
  font-weight: bold;
  margin-top: 10px;
}

#intentos {
  display: flex;
  text-align: center;
  width: 150px;
  height: 40px;
  justify-content: center;
  font-size: 40px;
  gap: 15px;
  color:#f440b5;
  background-color: #ffd1dc;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #f440b5;
  align-items: center;
  display: none;
}


#cartas {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  gap: 15px;
  justify-content: center;
  margin: 80px;
  display: none;
}

.carta{
  width:120px;
  height:120px;
  background-color:#ffd1dc;
  border-radius:10px;
  justify-content:center;
  align-items:center;
}

.carta img{
  width:100%;
  height:100%;
  display:none;
}

.carta:hover {
background-color:#f440b5;
cursor: pointer;
}

.carta.animacion {
  animation: flip 0.3s ease;
}

@keyframes flip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(180deg); }
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#start {
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: #f440b5;
  color:#ffd1dc; 
  border: 2px solid #f440b5;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

#start:hover {
 color:#f440b5;
 background-color: #ffd1dc;
}

#start:disabled {
  display: none;
}

#victoria {
  display: none;
  color: #f440b5;
  font-weight: bold;
  margin-top: 200px;
}














/* css para prueba de concepto 4:
#contenedor {
display: grid;
grid-template-columns: 120px 120px;
gap: 15px;
justify-content: center;
margin: 80px;
}


.carta{
  width:120px;
  height:120px;
  background-color:#ffd1dc;
  border-radius:10px;
  justify-content:center;
  align-items:center;
}


.carta img{
  width:100%;
  height:100%;
  display:none;
}*/






/* css para prueba de concepto 3:
#contenedor {
  display:grid;
  grid-template-columns: repeat(4, 120px); 
  grid-template-rows: repeat(3, 120px); 
  gap:15px;
  justify-content:center;
  margin: 80px;
}

.carta{
  background-color:#ffd1dc; 
  border-radius:10px;
}*/


/*css para prueba de concepto 2:
#Fotos-Animales{
  width: 100px;
  height:100px;
  background-color:#ffd1dc;
  display:flex;
  justify-content:center;
  align-items:center;
}


#foto1{
  width: 80px;
  height:80px;
  display:none;
}*/
