#cartas {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  gap: 15px;
  justify-content: center;
  margin: 80px;
}

.carta{
  width:120px;
  height:120px;
  background-color:#ffd1dc;
  border-radius:10px;
  justify-content:center;
  align-items:center;
}

.carta img{
  width:100%;
  height:100%;
  display:none;
}

.carta:hover {
background-color:#e81042;
cursor: pointer;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}


#start {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #e81042;
  color:#ffd1dc; 
  border: 2px solid #e81042;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

#start:hover {
 color: #e81042;
 background-color: #ffd1dc;
}

#start:disabled {
  display: none;
}
















/* css para prueba de concepto 4:
#contenedor {
display: grid;
grid-template-columns: 120px 120px;
gap: 15px;
justify-content: center;
margin: 80px;
}


.carta{
  width:120px;
  height:120px;
  background-color:#ffd1dc;
  border-radius:10px;
  justify-content:center;
  align-items:center;
}


.carta img{
  width:100%;
  height:100%;
  display:none;
}*/






/* css para prueba de concepto 3:
#contenedor {
  display:grid;
  grid-template-columns: repeat(4, 120px); 
  grid-template-rows: repeat(3, 120px); 
  gap:15px;
  justify-content:center;
  margin: 80px;
}

.carta{
  background-color:#ffd1dc; 
  border-radius:10px;
}*/


/*css para prueba de concepto 2:
#Fotos-Animales{
  width: 100px;
  height:100px;
  background-color:#ffd1dc;
  display:flex;
  justify-content:center;
  align-items:center;
}


#foto1{
  width: 80px;
  height:80px;
  display:none;
}*/
