@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f8f9fa;
  color: #111827;
}

.root {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 2rem;
  height: 100vh;
}

h1,
h2 {
  text-align: center;
  color: #111827;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.listadoProductos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.producto {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem;
  border: 1px solid #d1d5db;
  width: 360px;
  transition: 0.3s;
}

.producto:hover {
  transform: translateY(-2px) scale(1.01);
}

.producto img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem 1rem 0 0;
}

.producto button {
  background: #111827;
  color: #fff;
  border: 1px solid #ffffff00;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 300ms;
}

.producto button:hover {
  background: #f8f9fa;
  color: #383838;
  border: 1px solid #d1d5db;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  gap: 1rem;
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.informacion p:first-child {
  font-size: 1.1rem;
  font-weight: 600;
}

.carritoCompra {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #d1d5db;
  gap: 1rem;
}



.contenedorInformacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.ocultarDiv,
.oculto {
  display: none;
}

.contenedorBotones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.contenedorBotones button {
  background: #111827;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ffffff00;
}

.contenedorBotones button:hover {
  background: #f8f9fa;
  color: #383838;
  border: 1px solid #d1d5db;
}

.resultados {
  margin-top: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.75rem;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

.resultados p {
  padding: 0.25rem 0;
}

.imagenProducto {
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: top;
  border-radius: 0.5rem;
}

.imagenPapelera {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.compraRealizada {
  position: fixed;
  background: #99ff00;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.01em;
}